@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "JD Website";
    ViewData["Home"] = "active";
    ViewData["Home"] = "class = 'nav-item'";
}



<h1>Preferred Name: Jacob Donaldson</h1>
<!--main title section-->
<div class="container-fluid">
    <div class="row align-items-start">
        <div class="col-md-3">

            <h2>What I want from IS 413:</h2>
            <p class="container-sm align-content-center">
                I hope to hone my skills in application development by not only learning ASP
                .NET but also further refining jalfl my skills in supporting tools like Javascript,
                bootstrap, and css. I also want to discover potential use cases of C#/ASP .NET
                that I could use to create something new for the world.
            </p>
        </div>
        <div class="col-md-6">
            <img alt="Me playing at Indian Wells watching professional Tennis" class="card-img" src="img/jdindianwells.jpg" />
        </div>
        <div class="col-md-3">
            <div class="row align-items-center">
                <div class="col">
                    <h2>My Top 3 Job Picks Post-Grad:</h2>
                    <ol>
                        <li>Product Management</li>
                        <li>Software Developer</li>
                        <li>Technology Consultant</li>
                    </ol>
                </div>
                <div class="w-100"></div>
                <div class="col">

                </div>
            </div>
        </div>
    </div>
</div>

